<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: rgb(43, 43, 43);
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      }
      h1,
      h2,
      h3 {
        color: #f0f0f0;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        background-color: rgb(43, 43, 43);
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
      }
      a {
        color: #1e90ff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Anime World</a>
      <div class="navbar-nav ml-auto">
        <a class="nav-link ml-2" href="/">Home</a>
        <a
          class="btn btn-outline-danger nav-link ml-2 btn-sm"
          style="border-radius: 20%; color: white"
          href="{{ url_for('logout') }}"
          role="button"
          >Logout</a
        >
      </div>
    </nav>

    <div style="margin-top: 2%">
      <h1>Welcome, {{ user.name }}!</h1>
      <br /><br />
      <div style="margin-left: 3%">
        <h3>Your Bought Products:</h3>

        <div class="container mt-5">
          <div class="row">
            <!-- Loop through the records in 'tod' and render each as a card -->
            {% for product in bought_items_details %}
            <!-- Create a new row every 4th card -->
            {% if loop.index % 4 == 1 and loop.index > 1 %}
          </div>
          <div class="row">
            {% endif %}

            <div class="col-md-3 mb-4">
              <div class="card h-100">
                <img
                  class="card-img-top"
                  src="{{ product['ImageURL'] }}"
                  alt="Anime Image"
                  style="height: 223px"
                />
                <div class="card-body bg-dark text-white text-center">
                  <h5 class="card-title">{{ product['Name'] }}</h5>
                  <p class="card-text">
                    Episodes: {{ product['EpisodeCount'] }}<span
                      class="episode-count"
                    ></span>
                  </p>
                  <p class="card-text">
                    {{ product['Genre'] }}<span class="genre"></span>
                  </p>
                  <p class="card-text">
                    Rating: {{ product['Rating'] }}<span class="rating"></span>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <br/>
      <div style="margin-left: 3%">
        <h3>Suggested For You!</h3>

        <div class="container mt-5">
          <div class="row">
            <!-- Loop through the records in 'tod' and render each as a card -->
            {% for product in collaborative_animes %}
            <!-- Create a new row every 4th card -->
            {% if loop.index % 4 == 1 and loop.index > 1 %}
          </div>
          <div class="row">
            {% endif %}

            <div class="col-md-3 mb-4">
              <div class="card h-100">
                <img
                  class="card-img-top"
                  src="{{ product['ImageURL'] }}"
                  alt="Anime Image"
                  style="height: 223px"
                />
                <div class="card-body bg-dark text-white text-center">
                  <h5 class="card-title">{{ product['Name'] }}</h5>
                  <p class="card-text">
                    Episodes: {{ product['EpisodeCount'] }}<span
                      class="episode-count"
                    ></span>
                  </p>
                  <p class="card-text">
                    {{ product['Genre'] }}<span class="genre"></span>
                  </p>
                  <p class="card-text">
                    Rating: {{ product['Rating'] }}<span class="rating"></span>
                  </p>
                  <form method="POST" action="{{ url_for('buy_item') }}">
                    <input
                      type="hidden"
                      name="item"
                      value="{{ product['Name'] }}"
                    />
                    {% if current_user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">
                      Buy Now
                    </button>
                    {% else %}
                    <a href="{{ url_for('signup') }}" class="btn btn-primary"
                      >Buy Now</a
                    >
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
