<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      body {
        background-color: rgb(43, 43, 43);
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Anime World</a>
      <div class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <a class="nav-link ml-2" href="/">Home</a>
        {% else %}
        <a class="nav-link ml-2" href="/">Home</a>
        <a
          class="btn btn-outline-info nav-link ml-2 btn-sm"
          style="border-radius: 20%; color: white"
          href="/login"
          role="button"
          >Login</a
        >
        <a
          class="btn btn-outline-info nav-link ml-2 btn-sm"
          style="border-radius: 20%; color: white"
          href="/signup"
          role="button"
          >Sign Up</a
        >
        {% endif %}
      </div>
    </nav>

    <!-- Search Form -->
    <div class="container mt-5">
      <form
      action="/recommend"
      method="post"
      class="form-inline justify-content-center"
      style="background-color: #343a40; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);"
      >
      <div class="form-group mb-2">
        <label for="animeName" class="sr-only">Anime Name</label>
        <input
        type="text"
        class="form-control"
        id="animeName"
        name="animeName"
        placeholder="Anime Name"
        style="width: 300px; border-radius: 20px; padding: 10px; border: 1px solid #ced4da;"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary mb-2"
        style="margin-left: 10px; border-radius: 20px; padding: 10px 20px; background-color: #007bff; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);"
      >
        Search
      </button>
      </form>
    </div>

    {% if message %}
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 3%;">
      <h4 style="color: white;">{{ message }}!</h4>
    </div>
    {% endif %}

    <div class="container mt-5">
        <div class="row">
            <!-- Loop through each recommended anime -->
            {% for anime in recommend_animes %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img
                        class="card-img-top"
                        src="{{ anime['ImageURL'] }}"
                        alt="Anime Image"
                        style="height: 223px;"
                    />
                    <div class="card-body bg-dark text-white text-center">
                        <h5 class="card-title">{{ anime['Name'] }}</h5>
                        <p class="card-text">
                            Episodes: {{ anime['EpisodeCount'] }}
                        </p>
                        <p class="card-text">
                            Genre: {{ anime['Genre'] }}
                        </p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
          {% if evaluation %}
            <h3 style="color: white;">Evaluation Results:</h3>
            <p style="color: white;">Precision: {{ evaluation.precision | round(2) }}</p>
            <p style="color: white;">Recall: {{ evaluation.recall | round(2) }}</p>
          {% endif %}
        </div>
    </div>
  </body>
</html>
